trace {
    enabled = true
}

docker.enabled = false

profiles {
  standard {
    process.executor = 'local'
  }

  lsf {
    process.executor = 'lsf'
  }
  slurm {
    process.executor = 'slurm'
  }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /mnt'
}

conda {
    enabled = false
}

report {
    enabled = false
    file = 'lrs_analysis.html'
}

dag {
    enabled = false
    file = 'lrs_analysis_dag.png'
}

process {
  withLabel: lrs_analysis {
    container = 'docker://nyagam/ont-research_str-and-sv-with-annotation:v2.0'
  }
}
