trace {
    enabled = true
}

docker.enabled = false

singularity {
    enabled = true
    autoMounts = true
}

conda {
    enabled = false
}

report {
    enabled = true
    file = 'lrs_analysis.html'
}

dag {
    enabled = false
    file = 'lrs_analysis_dag.png'
}

profiles {
    standard {
        process {
            withLabel: lrs_analysis {
                container = 'docker://nyagam/ont-research_str-and-sv-with-annotation:v1.1'
            }
        }
    }
}

process {
    executor = 'local'
    cache = 'lenient'
    errorStrategy = 'finish'
}

executor {
    name = 'local'
    queueSize = 50
    pollInterval = '10 s'
    queueStatInterval = '10 s'
    submitRateLimit = 10	
    exitReadTimeout = '1 min'
}
